[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pinfsc50"]
	path = pinfsc50
	url = https://github.com/knausb/pinfsc50
[submodule "vcfR"]
	path = vcfR
	url = https://github.com/knausb/vcfr
