[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "vcfR"]
	path = vcfR
	url = https://github.com/knausb/vcfr
	shallow = true
	registered = true
